*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:'open Sans',sans-serif;
    overflow-x: hidden;
    background:url(./pexels-andrea-piacquadio-3755706.jpg);
    background-size: cover;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

img{
    width: 200px;
    height: 200px;

}

.logo{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: #510818;
}
.menu{
    float: right;

}
section{
    margin: auto;
    display: flex;
    margin-bottom: 80px;
}


nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;position: -webkit-sticky;
    top: 0;
    background-color: #C8B6A6;
    z-index: 1;
    border-bottom: 1 solid black;
}
nav ul {
    list-style: none;
    margin: 0;padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16 px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

a.tbl-biru{
    background-color: #867070;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background-color:#8D72E1 ;
    text-decoration: none;
}
.tbl-biru{
    background-color: #867070;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.tbl-biru:hover{
    background-color:#8D72E1 ;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 80px;
    padding-top: 20px;

}

tr,th,td{
    padding: 40px;
    margin: 20px;
}

thead{
    background-color: #867070;
}
tbody{
    text-align: center;
    background-color:whitesmoke;
}

.img-produk {
    width: 200px;
    height: 200px;

}



