*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:'open Sans',sans-serif;
    overflow-x: hidden;
    background-color: #D6E4E5;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

img{
    width: 200px;
    height: 200px;

}

.logo{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: #510818;
}
.menu{
    float: right;

}
section{
    margin: auto;
    display: flex;
    margin-bottom: 80px;
}


nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;position: -webkit-sticky;
    top: 0;
    background-color: #6D9886;
    z-index: 1;
    border-bottom: 1 solid black;
}
nav ul {
    list-style: none;
    margin: 0;padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16 px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

a.tbl-biru{
    background-color: #7FE9DE;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background-color:#8D72E1 ;
    text-decoration: none;
}
.tbl-biru{
    background-color: #7FE9DE;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.tbl-biru:hover{
    background-color:#8D72E1 ;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 80px
}

tr,th{
    padding: 15px;
}

thead{
    background-color: #7FE9DE;
}
tbody{
    text-align: center;
    background-color:whitesmoke;
}

.img-produk {
    width: 200px;
    height: 200px;

}


/* footer */

.footer-container p,
.footer-container a {
    opacity: 0.8;
}

.footer a {
    display: block;
    color: rgb(14, 13, 13);
    text-decoration: none;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
}

.social-icons li {
    border-radius: 50%;
    height:40px;
    width: 40px;
    margin: 10px;
    transition: var(transition);
    cursor: pointer;
}

.social-icons li:hover {
    color: #8D72E1;
    background:white;
}


footer {
    background-color: #DEF5E5;
    margin: -60px;
    padding: 0px;
}


.footer-text {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    text-align:center;
    align-items: baseline;
    font-size: 15px;
    padding: 30px;margin: -45px;
}
.footer-text a:hover {
    color:#8D72E1;
}


.footer-text h2{
    font-size: 25px;
}

@media screen and (max-width:991.98px){
    footer{
       margin: 0px;
    }
    
}
